<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Manga-View</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/home.css">
		<section class="todohome">
			<header>
				<h1>Manga View</h1>
			</header>
			<section>
				<h2>The best manga search engine</h2>
				<a class="button" href="/login">Sign in</a>
			</section>
		</section>
	</body>
</html>
