	<body>
		
       {{!-- navbar start --}}
   <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">profile</h5>
      {{!-- possible code in navbar? --}}
      {{!-- <span class="text-muted">explore new manga daily!</span> --}}
    </div>
  </div>
  <nav class="navbar navbar-light" style="background-color: #254456b0;" id="nav-bar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
	<section class="todoapp">
			<nav class="nav">
				<ul>
					<li class="user">{{user.name}} {{user.username}} {{user.email}}</li>
					<li>
						<form action="/logout" method="post">
							<button class="logout" type="submit">Sign out</button>
						</form>
					</li>
				</ul>
			</nav>
			<div class='manga-container'> 
  </nav>
</div>
{{!-- navbar end --}}


{{!-- jumbo search start --}}

</div>
<div class="jumbotron jumbotron-fluid" id="jumbo">
  <div class="container">
    <h1 class="display-4" id="main-title">manga-view</h1>
    <p class="lead" id="main-description">search through our collection</p>
    {{!-- possible code? --}}
     {{!-- <span class="text-muted">search our hand curated list of titles</span> --}}
     <input type="search" class="form-control rounded" id="search-text" placeholder= "" aria-label="Search" style="font-family:Arial, FontAwesome" />
     <button class="btn btn-bottom-stripe btn-bottom-stripe--black" id="main-btn"> go! </button>
  </div>
</div>

      </body>
{{!-- jumbo search end --}}
  <section>

      </section>

{{!-- search bar end --}}
		<footer class="info">
			<p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
		</footer>
	</body>
</html>
